// $purple-main: #2f274c;
// $purple-sub: #4b4173;
$purple: #8b7fb9;

.introbox {
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 80px;
  width: 100%;
  background: var(--theme-box-background);
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(100, 100, 100, 0.3);
  margin: 20px 0 0 0;
  // font-family: "Cafe24Ssurround", sans-serif;
  .intro {
    font-size: 2rem;
    margin: 0 auto;
  }

  span {
    font-weight: bold;
    color: var(--theme-highlight-color);
    font-size: 2.5rem;
  }
}
.introContents {
  margin: 0;

  li {
    margin-bottom: 10px;
    word-break: keep-all;
  }
}
.title {
  font-weight: bold;
  position: relative;
  display: flex;
  vertical-align: middle;
  align-items: center;
  font-size: 2.5rem;
  width: 100%;
  min-height: 35px;
  text-align: left;
  margin: 20px 0;
  .workTitle {
    font-size: 1.8rem;
  }
}

.title::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  border-radius: 1px;
  left: 0;
  background-color: var(--theme-underline);
}
.infomation {
  display: flex;
  vertical-align: middle;
  align-items: center;
  width: 100%;
  min-height: 30px;
  margin: 0 0 5px 0;
  .subTitle {
    display: flex;
    vertical-align: middle;
    align-items: center;
    flex: 2;
    text-align: right;
    .icon {
      margin-right: 5px;
    }
  }
  .infoContents {
    height: 100%;
    font-size: 2rem;
    flex: 8;
  }
}
.underLine {
  position: relative;
}
.underLine::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  border-radius: 1px;
  left: 0;
  background-color: var(--theme-underline);
}
.interest {
}
.song {
  display: flex;
  background-color: #000;
  width: 500px;
  height: 150px;
  border-radius: 15px;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(25, 25, 25, 0.9);

  .songAlbumImage {
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    width: 130px;
    height: 130px;
  }
  .songInfo {
    margin-right: 10px;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;

    .songTitle {
      width: 100%;
      font-size: 2.2rem;
      color: #fff;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .songArtist {
      width: 100%;
      font-size: 1.6rem;
      color: #bbb;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  padding: 40px 0 20px 0;
  background: var(--theme-box-background);
  border-radius: 10px;
}

.skill {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-out;
}
.skillName {
  font-weight: bold;
  transition: opacity 0.3s ease-out;
  opacity: 0;
}
.skill:hover {
  transform: scale(1.1);
}

.skill:hover .skillName {
  transition: opacity 0.3s ease-out;

  opacity: 1;
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  justify-content: end;
}
.card {
  margin: 0 auto;
  width: 768px;
  height: 432px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  .cardImg {
    z-index: 0;
  }
  .cardOverlay {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.3s;
    span {
      font-size: 1.3em;
      margin: 0 auto;
      color: #fff;
    }
  }
  :hover .cardOverlay {
    opacity: 1;
  }
}
.cardMini {
  width: 368px;
  height: 198px;
}

// .workInfo {
//   display: flex;
//   flex-direction: column;
//   .subTitle {
//     width: 100%;
//   }
//   .infomation {
//   }
// }
.workInfomation {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  width: 100%;
  margin: 0;
  .subTitle {
    width: 100%;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    color: var(--theme-highlight-color);
    margin-bottom: 10px;
  }
  .infoContents {
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      margin: 0 0 10px 0;
      padding: 0px;
    }
    .list {
      flex: 1;
    }
    .content {
      flex: 9;
    }
  }
}
.btn {
  font-size: 1.8rem;
  color: #fff; //var(--theme-default-text-color);
  background: var(--theme-highlight-color);
  border-radius: 5px;
  padding: 10px 20px;
}
