$purple-main: #2f274c;
$purple-sub: #a69dc9;
.canvas {
  min-height: 400px;
}
.introbox {
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 80px;
  width: 100%;
  color: #ddd;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bold;
  // font-family: "Cafe24Ssurround", sans-serif;
  .intro {
    margin: 0 auto;
  }

  span {
    color: #fff;
    font-size: 2.5rem;
  }
}
.title {
  // font-weight: bold;
  position: relative;
  font-size: 3rem;
  width: 100%;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
}
.title::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  border-radius: 1px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
}
.infomation {
  display: flex;
  vertical-align: middle;
  align-items: center;
  font-size: 1.8rem;
  color: #fff;
  width: 100%;
  margin: 0 0 5px 0;
  .subTitle {
    display: flex;
    vertical-align: middle;
    flex: 2;

    .icon {
      margin-right: 5px;
    }
  }
  .contents {
    font-size: 2.5rem;
    flex: 8;
  }
}
.underLine {
  position: relative;
}
.underLine::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  border-radius: 1px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
// .contents {
//   display: flex;
//   width: 100%;
//   font-size: 3rem;
//   text-align: left;
//   color: #eee;
// }
