.nav {
  width: 100%;
  position: fixed;
  background-color: rgb(174, 137, 196);
  z-index: 100;
  .navBar {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1060px;
    height: 50px;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    .logo {
      transition: 200ms ease;
    }
    a:hover .logo {
      transform: rotate(5deg) scale(1.1);
    }
    a {
      display: flex;
      height: 100%;
      position: relative;
      vertical-align: middle;
      font-weight: 600;
      font-size: 18px;
      padding: 0;
      span {
        padding: 13px 5px;
      }
    }
    ul {
      list-style: none;
      display: flex;
      height: 100%;
      margin: 0;
    }
    li {
      position: relative;
      display: inline-block;
      height: 100%;
      vertical-align: middle;

      a {
        padding: 13px 20px;
      }
    }
  }
}

.active {
  color: rgb(70, 0, 128);
}
.angledGradient:hover {
  background: linear-gradient(70deg, blue, rgb(70, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s;
}
