.nav {
  font-size: 1.8rem;
  width: 100%;
  position: fixed;
  background: var(--theme-nav-background);
  z-index: 100;
  color: #ddd;
  -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.3);
          box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  max-width: 768px;
  height: 50px;
  margin: 0 auto;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.nav .navBar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav .navBar .logo span {
  margin-left: 10px;
}

.nav .navBar .logoImg {
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.nav .navBar a:hover .logoImg {
  -webkit-transform: rotate(5deg) scale(1.2);
          transform: rotate(5deg) scale(1.2);
}

.nav .navBar a {
  font-weight: 800;
  padding: 0;
}

.nav .navBar a span {
  background: var(--theme-gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav .navBar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.nav .navBar li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  padding: 0 20px;
}

.nav .navBar li .angledGradient {
  background: var(--theme-gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav .navBar li .active {
  background: var(--theme-gradient-active);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav .navBar li .underLine {
  position: relative;
}

.nav .navBar li .underLine::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  border-radius: 1px;
  left: 0;
  background: var(--theme-gradient-text);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.nav .navBar li :hover .underLine::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav .navBar .darkModeBtnContainer {
  margin-left: 20px;
}

.nav .navBar .darkModeBtnContainer .darkModeBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background: var(--theme-highlight-color);
}

.nav .navBar .darkModeBtnContainer .darkModeIcon {
  margin: auto;
  color: var(--theme-nav-background);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav .navBar .darkModeBtn:hover .darkModeIcon {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/*# sourceMappingURL=NavBar.module.css.map */