.nav {
  font-size: 1.8rem;
  width: 100%;
  position: fixed;
  background: var(--theme-nav-background);
  z-index: 100;
  color: #ddd;
  box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.3);
  transition: all 0.3s;

  .navBar {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 768px;
    height: 50px;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    .logo {
      display: flex;
      align-items: center;
      height: 100%;
      span {
        margin-left: 10px;
      }
    }
    .logoImg {
      transition: 200ms ease;
    }
    a:hover .logoImg {
      transform: rotate(5deg) scale(1.2);
    }

    a {
      font-weight: 800;
      padding: 0;
      span {
        background: var(--theme-gradient-text);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    ul {
      list-style: none;
      display: flex;
      height: 100%;
      margin: 0;

      align-items: center;
      vertical-align: middle;
    }
    li {
      position: relative;
      display: flex;
      height: 100%;
      align-items: center;
      vertical-align: middle;
      padding: 0 20px;
      .angledGradient {
        background: var(--theme-gradient-text);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .active {
        background: var(--theme-gradient-active);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .underLine {
        position: relative;
      }
      .underLine::after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -3px;
        border-radius: 1px;
        left: 0;
        background: var(--theme-gradient-text);
        transform: scaleX(0);
        transform-origin: right;

        transition: transform 0.3s ease-in-out;
      }
      :hover .underLine::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
    .darkModeBtnContainer {
      .darkModeBtn {
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
        background: var(--theme-highlight-color);
      }
      .darkModeIcon {
        margin: auto;
        color: var(--theme-nav-background);
        width: 100%;
        height: 100%;
        transition: all 0.2s;
      }
      margin-left: 20px;
    }

    .darkModeBtn:hover {
      .darkModeIcon {
        transform: rotate(20deg);
        transition: all 0.2s;
      }
    }
  }
}
// background: linear-gradient(45deg, $purple, #999);
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
